<p>book-list works!</p>

<table>
    <th>id</th>
    <th>name</th>
    <th>price</th>
    <th>Actions</th>
    <ng-container *ngFor="let itme of service.books">
        <tr *ngIf="itme.price > 1">
            <td>
                {{ itme.id }}
            </td>
            <td>
                {{ itme.name }}
            </td>
            <td>
                {{ itme.price }}
            </td>
            <td>
                <button>view</button>
                <button>Edit</button>
                <button (click)="deleteBook(itme.id)">Delete</button>
            </td>
        </tr>
    </ng-container>
</table>