<p>login works! by {{loginName | uppercase }}</p>

<input type="number" [value]="age">

<button (click)="showNameAndAge()">click me to show name & age</button>

<h1>Choose color :</h1>
<select style="display:block" #mySelect (change)="printColor(mySelect.value)">
    <ng-container *ngFor="let color of colors">
        <option value="{{color}}" *ngIf="color != 'Red'">
            {{color}}
        </option>
    </ng-container>
</select>

<h1>Update your name :</h1>
<input type="text" [(ngModel)]="loginName">